{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Welcome to Mijikasa</h1>
    <p>
        This is a simple URL shortener. More features will be added soon!
    </p>
    <p>
        "Mijikasa" (短さ, "shortness") is a Japanese word
        created from the adjective "mijikai" (短い, "short")
    </p>
{% endblock %}
