* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: gray;
}

.container {
    max-width: 800px;
    margin: 3em auto auto;
    padding: 1rem;

    background: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}