{% extends 'base.html.twig' %}

{% block title %}Success!{% endblock %}

{% block body %}
    <h1>Success!</h1>
    <p>Your link has been shortened to:</p>
    <a href="{{ path('redirect', { hash: link.hash }) }}">
        <b>{{ schemeAndHost }}{{ path('redirect', { hash: link.hash }) }}</b>
    </a>
{% endblock %}
