<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Mijikasa</title>
        <meta name="viewport" content="width=device-width" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <main class="container">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
